<% provide(:title, @user.name_pretty) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name_pretty %>
      </h1>
    </section>
  </aside>
</div>
